/* user page */
.achievements h2{
       text-shadow: -3px -3px 0 #004a5d, 1px -3px 0 #004a5d, -3px 3px 0 #004a5d, 3px 3px 0 #004a5d;    
-webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
-moz-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
   2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
-o-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
}

#gameAchie h1 {
       text-shadow: -3px -3px 0 #324b51, 1px -3px 0 #324b51, -3px 3px 0 #324b51, 3px 3px 0 #324b51;    
-webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #324b51,
    1px -1px 0 #324b51,
    -1px -1px 0 #324b51,
    0px 1px 0 #324b51,
    0px -1px 0 #324b51,
    -1px 0px 0 #324b51,
    1px 0px 0 #324b51,
    2px 2px 0 #324b51,
    -2px 2px 0 #324b51,
    2px -2px 0 #324b51,
    -2px -2px 0 #324b51,
    0px 2px 0 #324b51,
    0px -2px 0 #324b51,
    -2px 0px 0 #324b51,
    2px 0px 0 #324b51,
    1px 2px 0 #324b51,
    -1px 2px 0 #324b51,
    1px -2px 0 #324b51,
    -1px -2px 0 #324b51,
    2px 1px 0 #324b51,
    -2px 1px 0 #324b51,
    2px -1px 0 #324b51,
    -2px -1px 0 #324b51;
-moz-text-shadow: 1px 1px 0 #324b51,
    -1px 1px 0 #324b51,
    1px -1px 0 #324b51,
    -1px -1px 0 #324b51,
    0px 1px 0 #324b51,
    0px -1px 0 #324b51,
    -1px 0px 0 #324b51,
    1px 0px 0 #324b51,
    2px 2px 0 #324b51,
    -2px 2px 0 #324b51,
    2px -2px 0 #324b51,
    -2px -2px 0 #324b51,
    0px 2px 0 #324b51,
    0px -2px 0 #324b51,
    -2px 0px 0 #324b51,
    2px 0px 0 #324b51,
    1px 2px 0 #324b51,
    -1px 2px 0 #324b51,
    1px -2px 0 #324b51,
    -1px -2px 0 #324b51,
   2px 1px 0 #324b51,
    -2px 1px 0 #324b51,
    2px -1px 0 #324b51,
    -2px -1px 0 #324b51;
-o-text-shadow: 1px 1px 0 #324b51,
    -1px 1px 0 #324b51,
    1px -1px 0 #324b51,
    -1px -1px 0 #324b51,
    0px 1px 0 #324b51,
    0px -1px 0 #324b51,
    -1px 0px 0 #324b51,
    1px 0px 0 #324b51,
    2px 2px 0 #324b51,
    -2px 2px 0 #324b51,
    2px -2px 0 #324b51,
    -2px -2px 0 #324b51,
    0px 2px 0 #324b51,
    0px -2px 0 #324b51,
    -2px 0px 0 #324b51,
    2px 0px 0 #324b51,
    1px 2px 0 #324b51,
    -1px 2px 0 #324b51,
    1px -2px 0 #324b51,
    -1px -2px 0 #324b51,
    2px 1px 0 #324b51,
    -2px 1px 0 #324b51,
    2px -1px 0 #324b51,
    -2px -1px 0 #324b51;
text-shadow: 1px 1px 0 #324b51,
    -1px 1px 0 #324b51,
    1px -1px 0 #324b51,
    -1px -1px 0 #324b51,
    0px 1px 0 #324b51,
    0px -1px 0 #324b51,
    -1px 0px 0 #324b51,
    1px 0px 0 #324b51,
    2px 2px 0 #324b51,
    -2px 2px 0 #324b51,
    2px -2px 0 #324b51,
    -2px -2px 0 #324b51,
    0px 2px 0 #324b51,
    0px -2px 0 #324b51,
    -2px 0px 0 #324b51,
    2px 0px 0 #324b51,
    1px 2px 0 #324b51,
    -1px 2px 0 #324b51,
    1px -2px 0 #324b51,
    -1px -2px 0 #324b51,
    2px 1px 0 #324b51,
    -2px 1px 0 #324b51,
    2px -1px 0 #324b51,
    -2px -1px 0 #324b51;
}

#userInfor .inforUser > h2 {
      text-shadow: -3px -3px 0 #004a5d, 1px -3px 0 #004a5d, -3px 3px 0 #004a5d, 3px 3px 0 #004a5d;    
-webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
-moz-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
   2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
-o-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
}

/* user page detail */
#game .levelGame h1 {
      text-shadow: -3px -3px 0 #004a5d, 1px -3px 0 #004a5d, -3px 3px 0 #004a5d, 3px 3px 0 #004a5d;    
-webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
-moz-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
   2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
-o-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
}

#inventory h3 {
      text-shadow: -3px -3px 0 #004a5d, 1px -3px 0 #004a5d, -3px 3px 0 #004a5d, 3px 3px 0 #004a5d;    
-webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
-moz-text-shadow: 1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    2px 2px 0 #00485b,
    -2px 2px 0 #00485b,
    2px -2px 0 #00485b,
    -2px -2px 0 #00485b,
    0px 2px 0 #00485b,
    0px -2px 0 #00485b,
    -2px 0px 0 #00485b,
    2px 0px 0 #00485b,
    1px 2px 0 #00485b,
    -1px 2px 0 #00485b,
    1px -2px 0 #00485b,
    -1px -2px 0 #00485b,
   2px 1px 0 #00485b,
    -2px 1px 0 #00485b,
    2px -1px 0 #00485b,
    -2px -1px 0 #00485b;
-o-text-shadow: 1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    2px 2px 0 #00485b,
    -2px 2px 0 #00485b,
    2px -2px 0 #00485b,
    -2px -2px 0 #00485b,
    0px 2px 0 #00485b,
    0px -2px 0 #00485b,
    -2px 0px 0 #00485b,
    2px 0px 0 #00485b,
    1px 2px 0 #00485b,
    -1px 2px 0 #00485b,
    1px -2px 0 #00485b,
    -1px -2px 0 #00485b,
    2px 1px 0 #00485b,
    -2px 1px 0 #00485b,
    2px -1px 0 #00485b,
    -2px -1px 0 #00485b;
text-shadow: 1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    2px 2px 0 #00485b,
    -2px 2px 0 #00485b,
    2px -2px 0 #00485b,
    -2px -2px 0 #00485b,
    0px 2px 0 #00485b,
    0px -2px 0 #00485b,
    -2px 0px 0 #00485b,
    2px 0px 0 #00485b,
    1px 2px 0 #00485b,
    -1px 2px 0 #00485b,
    1px -2px 0 #00485b,
    -1px -2px 0 #00485b,
    2px 1px 0 #00485b,
    -2px 1px 0 #00485b,
    2px -1px 0 #00485b,
    -2px -1px 0 #004a5d;
}

#myTab li a {
    text-shadow: -3px -3px 0 #02495c, 1px -3px 0 #02495c, -3px 3px 0 #02495c, 3px 3px 0 #02495c;    
-webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #02495c,
    1px -1px 0 #02495c,
    -1px -1px 0 #02495c,
    0px 1px 0 #02495c,
    0px -1px 0 #02495c,
    -1px 0px 0 #02495c,
    1px 0px 0 #02495c,
    1px 1px 0 #02495c,
    -1px 1px 0 #02495c,
    1px -1px 0 #02495c,
    -1px -1px 0 #02495c,
    0px 1px 0 #02495c,
    0px -1px 0 #02495c,
    -1px 0px 0 #02495c,
    1px 0px 0 #02495c,
    1px 1px 0 #02495c,
    -1px 1px 0 #02495c,
    1px -1px 0 #02495c,
    -1px -1px 0 #02495c,
    1px 1px 0 #02495c,
    -1px 1px 0 #02495c,
    1px -1px 0 #02495c,
    -1px -1px 0 #02495c;
-moz-text-shadow: 1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
   1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b;
-o-text-shadow: 1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b;
text-shadow: 1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    0px 1px 0 #00485b,
    0px -1px 0 #00485b,
    -1px 0px 0 #00485b,
    1px 0px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #00485b,
    1px 1px 0 #00485b,
    -1px 1px 0 #00485b,
    1px -1px 0 #00485b,
    -1px -1px 0 #02495c;
}


/* game page */
#contentLeft .fCity {
      text-shadow: -3px -3px 0 #444444, 1px -3px 0 #444444, -3px 3px 0 #444444, 3px 3px 0 #444444;    
      -webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
      -moz-text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
   2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
      -o-text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
}

#play span{      
      text-shadow: -3px -3px 0 #444444, 1px -3px 0 #444444, -3px 3px 0 #444444, 3px 3px 0 #444444;    
      -webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
      -moz-text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
   2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
      -o-text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
}

#contentLeft .descTitle {
       text-shadow: -3px -3px 0 #444444, 1px -3px 0 #444444, -3px 3px 0 #444444, 3px 3px 0 #444444;    
      -webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
      -moz-text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
   2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
      -o-text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
text-shadow: 1px 1px 0 #444444,
    -1px 1px 0 #444444,
    1px -1px 0 #444444,
    -1px -1px 0 #444444,
    0px 1px 0 #444444,
    0px -1px 0 #444444,
    -1px 0px 0 #444444,
    1px 0px 0 #444444,
    2px 2px 0 #444444,
    -2px 2px 0 #444444,
    2px -2px 0 #444444,
    -2px -2px 0 #444444,
    0px 2px 0 #444444,
    0px -2px 0 #444444,
    -2px 0px 0 #444444,
    2px 0px 0 #444444,
    1px 2px 0 #444444,
    -1px 2px 0 #444444,
    1px -2px 0 #444444,
    -1px -2px 0 #444444,
    2px 1px 0 #444444,
    -2px 1px 0 #444444,
    2px -1px 0 #444444,
    -2px -1px 0 #444444;
}

#contentRight h2 {
       text-shadow: -3px -3px 0 #444444, 1px -3px 0 #444444, -3px 3px 0 #444444, 3px 3px 0 #444444;    
      -webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #444444,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
      -moz-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
   2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
      -o-text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
text-shadow: 1px 1px 0 #004a5d,
    -1px 1px 0 #004a5d,
    1px -1px 0 #004a5d,
    -1px -1px 0 #004a5d,
    0px 1px 0 #004a5d,
    0px -1px 0 #004a5d,
    -1px 0px 0 #004a5d,
    1px 0px 0 #004a5d,
    2px 2px 0 #004a5d,
    -2px 2px 0 #004a5d,
    2px -2px 0 #004a5d,
    -2px -2px 0 #004a5d,
    0px 2px 0 #004a5d,
    0px -2px 0 #004a5d,
    -2px 0px 0 #004a5d,
    2px 0px 0 #004a5d,
    1px 2px 0 #004a5d,
    -1px 2px 0 #004a5d,
    1px -2px 0 #004a5d,
    -1px -2px 0 #004a5d,
    2px 1px 0 #004a5d,
    -2px 1px 0 #004a5d,
    2px -1px 0 #004a5d,
    -2px -1px 0 #004a5d;
}

/* home page */
.signUpContainer h2 {
    text-shadow: -3px -3px 0 #6d6d6d, 1px -3px 0 #6d6d6d, -3px 3px 0 #6d6d6d, 3px 3px 0 #6d6d6d;    
      -webkit-text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #6d6d6d,
    1px -1px 0 #6d6d6d,
    -1px -1px 0 #444444,
    0px 1px 0 #6d6d6d,
    0px -1px 0 #6d6d6d,
    -1px 0px 0 #6d6d6d,
    1px 0px 0 #6d6d6d,
    2px 2px 0 #6d6d6d,
    -2px 2px 0 #6d6d6d,
    2px -2px 0 #6d6d6d,
    -2px -2px 0 #6d6d6d,
    0px 2px 0 #6d6d6d,
    0px -2px 0 #6d6d6d,
    -2px 0px 0 #6d6d6d,
    2px 0px 0 #6d6d6d,
    1px 2px 0 #6d6d6d,
    -1px 2px 0 #6d6d6d,
    1px -2px 0 #6d6d6d,
    -1px -2px 0 #6d6d6d,
    2px 1px 0 #6d6d6d,
    -2px 1px 0 #6d6d6d,
    2px -1px 0 #6d6d6d,
    -2px -1px 0 #6d6d6d;
      -moz-text-shadow: 1px 1px 0 #6d6d6d,
    -1px 1px 0 #6d6d6d,
    1px -1px 0 #6d6d6d,
    -1px -1px 0 #6d6d6d,
    0px 1px 0 #6d6d6d,
    0px -1px 0 #6d6d6d,
    -1px 0px 0 #6d6d6d,
    1px 0px 0 #6d6d6d,
    2px 2px 0 #6d6d6d,
    -2px 2px 0 #6d6d6d,
    2px -2px 0 #6d6d6d,
    -2px -2px 0 #6d6d6d,
    0px 2px 0 #6d6d6d,
    0px -2px 0 #6d6d6d,
    -2px 0px 0 #6d6d6d,
    2px 0px 0 #6d6d6d,
    1px 2px 0 #6d6d6d,
    -1px 2px 0 #6d6d6d,
    1px -2px 0 #6d6d6d,
    -1px -2px 0 #6d6d6d,
   2px 1px 0 #6d6d6d,
    -2px 1px 0 #6d6d6d,
    2px -1px 0 #6d6d6d,
    -2px -1px 0 #6d6d6d;
      -o-text-shadow: 1px 1px 0 #6d6d6d,
    -1px 1px 0 #6d6d6d,
    1px -1px 0 #6d6d6d,
    -1px -1px 0 #6d6d6d,
    0px 1px 0 #6d6d6d,
    0px -1px 0 #6d6d6d,
    -1px 0px 0 #6d6d6d,
    1px 0px 0 #6d6d6d,
    2px 2px 0 #6d6d6d,
    -2px 2px 0 #6d6d6d,
    2px -2px 0 #6d6d6d,
    -2px -2px 0 #6d6d6d,
    0px 2px 0 #6d6d6d,
    0px -2px 0 #6d6d6d,
    -2px 0px 0 #6d6d6d,
    2px 0px 0 #6d6d6d,
    1px 2px 0 #6d6d6d,
    -1px 2px 0 #6d6d6d,
    1px -2px 0 #6d6d6d,
    -1px -2px 0 #6d6d6d,
    2px 1px 0 #6d6d6d,
    -2px 1px 0 #6d6d6d,
    2px -1px 0 #6d6d6d,
    -2px -1px 0 #6d6d6d;
text-shadow: 1px 1px 0 #6d6d6d,
    -1px 1px 0 #6d6d6d,
    1px -1px 0 #6d6d6d,
    -1px -1px 0 #6d6d6d,
    0px 1px 0 #6d6d6d,
    0px -1px 0 #6d6d6d,
    -1px 0px 0 #6d6d6d,
    1px 0px 0 #6d6d6d,
    2px 2px 0 #6d6d6d,
    -2px 2px 0 #6d6d6d,
    2px -2px 0 #6d6d6d,
    -2px -2px 0 #6d6d6d,
    0px 2px 0 #6d6d6d,
    0px -2px 0 #6d6d6d,
    -2px 0px 0 #6d6d6d,
    2px 0px 0 #6d6d6d,
    1px 2px 0 #6d6d6d,
    -1px 2px 0 #6d6d6d,
    1px -2px 0 #6d6d6d,
    -1px -2px 0 #6d6d6d,
    2px 1px 0 #6d6d6d,
    -2px 1px 0 #6d6d6d,
    2px -1px 0 #6d6d6d,
    -2px -1px 0 #6d6d6d;
}