<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/general.css">
        <link rel="stylesheet" href="styles/main1.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div class="container">
            <div id="head" class="row-fluid">
                <div class="logo span3">
                    <img src="images/logo.png">
                </div>
                <div class="username span2 offset7">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Jonh Doe <b class="caret"></b></a>
                        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="setting.html">Setting</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="fanPage.html">Help</a></li>
                          <li role="presentation" class="divider"></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="signUp.html">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar" id="navbar">
                <div class="navbar-inner row-fluid" id="navbar-inner">
                    <ul class="nav span7 offset3">
                        <li class="active"><a href="#" class="dashboard">Dashboard</a></li>
                        <li><a class="booksManager" href="#booksmanager">Book Manager</a></li>
                        <li><a href="arrangeBooks.html"><img src="images/face.png"><span style="position:relative;top:-3px;left:5px;">App Editor</span></a></li>
                        <li><a href="analytics.html">Analytics</a></li>
                    </ul>
                </div>
            </div>
            <!-- end navbar -->
            <div id="content">
                
            </div>
            <!-- end content -->
        </div>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- dashboard template -->
        <script type="text/template" id="dashboardTemplate">
            <div id='author' class="span9">
                <div class="title">
                    <h3>Author (2)</h3>
                    <a class="addAuthor" href="#">Add author</a>
                </div>
                <p class="hr"></p>
                <ul class="authors row-fluid">
                    <img src="images/loading.gif" style="display: block; margin:auto;">     
                </ul>
            </div>
            <div id="action" class="span3">
                <div class="header row">
                    <h3>Facebook Action</h3>
                </div>
                <ul class='row faceAction'>                        
                    <li>
                        <img class="avatarFace" src="images/avatarFace.png" >
                        <p><a href="#">Lisa C.</a>red<a href="#"> Guilty Wives by Sam Henderson.</a></p>
                        <small>2 hours ago</small>
                    </li>
                    <li>
                        <img class="avatarFace" src="images/avatarFace2.png" >
                        <p><a href="#">John H.</a>joined <a href="#"> James Patterson</a>’s mailing list.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li>
                        <img class="avatarFace" src="images/avatarFace.png" >
                        <p><a href="#">Lisa C.</a>red<a href="#"> Guilty Wives by Sam Henderson.</a></p>
                        <small>2 hours ago</small>
                    </li>
                    <li>
                        <img class="avatarFace" src="images/avatarFace2.png" >
                        <p><a href="#">John H.</a>joined <a href="#"> James Patterson</a>’s mailing list.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li>
                        <img class="avatarFace" src="images/avatarFace.png" >
                        <p><a href="#">Lisa C.</a>red<a href="#"> Guilty Wives by Sam Henderson.</a></p>
                        <small>2 hours ago</small>
                    </li>
                    <li>
                        <img class="avatarFace" src="images/avatarFace2.png" >
                        <p><a href="#">John H.</a>joined <a href="#"> James Patterson</a>’s mailing list.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li>
                        <img class="avatarFace" src="images/avatarFace.png" >
                        <p><a href="#">Lisa C.</a>red<a href="#"> Guilty Wives by Sam Henderson.</a></p>
                        <small>2 hours ago</small>
                    </li>
                    <li>
                        <img class="avatarFace" src="images/avatarFace2.png" >
                        <p><a href="#">John H.</a>joined <a href="#"> James Patterson</a>’s mailing list.</p>
                        <small>5 hours ago</small>
                    </li>
                </ul>

                <div class="header row">
                    <h3>DiscoverMyBooks Activity</h3>
                </div>
                <ul class='row activity'>                        
                    <li class="face">
                        <p>You published <a href="#">Terry Brook</a>'s Facebook Application.</p>
                        <small>Yesterday</small>
                    </li>

                    <li class="edit">
                        <p>You edited <a href="#">Terry Brook</a>'s Facebook Application.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li class="upload">
                        <p>You uploaded a book <a href="#">The Right Path </a> for <a href="#">Ryan Anderson.</a>.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li class="face">
                        <p>You published <a href="#">Terry Brook</a>'s Facebook Application.</p>
                        <small>Yesterday</small>
                    </li>

                    <li class="edit">
                        <p>You edited <a href="#">Terry Brook</a>'s Facebook Application.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li class="upload">
                        <p>You uploaded a book <a href="#">The Right Path </a> for <a href="#">Ryan Anderson.</a>.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li class="face">
                        <p>You published <a href="#">Terry Brook</a>'s Facebook Application.</p>
                        <small>Yesterday</small>
                    </li>

                    <li class="edit">
                        <p>You edited <a href="#">Terry Brook</a>'s Facebook Application.</p>
                        <small>5 hours ago</small>
                    </li>
                    <li class="upload">
                        <p>You uploaded a book <a href="#">The Right Path </a> for <a href="#">Ryan Anderson.</a>.</p>
                        <small>5 hours ago</small>
                    </li>
                </ul>
            </div>
        </script>

        <!-- author template  -->
        <script type="text/template" id="authorTemplate">
            <a href="#" class="authorList" authorId="<%- id %>">
                <img src="<%- photo %>">
                <p class="nameAuthor"><%- name %></p>
            </a>
            <div class="authorInfor">
                <p><span class="left like">Likes</span><span class="right likeCount"><%- likes %></span></p><br>
                <p><span class="book left">Books</span><span class="right bookCount"><%- books %></span></p><br>
                <p><span class="left read">Reads</span><span class="right readCount"><%- reads %></span></p>
                <p style="clear:both;"></p>
            </div>
        </script>

        <!-- books manager template -->
        <script type="text/template" id="booksManagerTemplate">
           
                <h3>Helping you share your books is reason #1 we are here. </h3>
                <h3>Let’s get started by adding your books!</h3>
                <button class="btn btn-primary addBook" data-toggle="modal" href="#myModal">+ Add Books</button>
                <h4>Your Library</h4>
                <p class="hr"></p>

                <ul class="listBooks">
                </ul>
        </script>

        <!-- author infor template -->
        <script type="text/template" id="inforAuthorTemplate">
            <p class='author' authorId="<%- id %>">
                <img src="<%- photo %>">
                <h6><%- name %></h6>
            </p>
        </script>

        <!-- list books template -->
        <script type="text/template" id="listBooksTemplate">
            <img src="<%- photo %>">
            <div class="progress">
                <div class="bar" style="width: <%- completed %>;"></div>
            </div>
            <p><%- completed %> completed</p>
            <ul class="actionList">
                <li><button class="search"></button></li>
                <li><button class="edit" bookId="<%- bookId %>"></button></li>
                <li><button class="delete"></button></li>
            </ul>
        </script>

        <!-- edit book template  -->
        <script type="text/template" id="editBookTemplate">
        <div class="managerBook span9">
            <h4>Confirm Your Book Details</h4>
            <p>Please make sure we got the correct details of the book you’ve uploaded.</p>
            <div id="detail" class="row-fluid">
                <div class="row title">
                    <label class="span3">Title</label>
                    <input class="span9" type="text" value="<%- title %>">
                </div>
                <div class="row bookImage">
                    <label class="span3">Book Image</label>
                    <img src="<%- photo %>" style="float:left; width: 55px; height: 85px;">
                    <input type="file">
                </div>
                <div class="row yearPublished">
                    <label class="span3">Year Published</label>
                    <select class="span9">
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                    </select>
                </div>
                <div class="row author">
                    <label class="span3">Author</label>
                    <input type="text" class="span9 authorName" value="Nicholas Krauss">
                </div>
                <div class="row desc">
                    <label class="span3">Short Description</label>
                    <div class="span9">
                        <textarea rows="7"><%- desc %></textarea>
                        <p>500 chars maximum</p>
                    </div>                            
                </div>
                <div class="row genre">
                    <label class="span3">Genre</label>
                    <select>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                    </select>
                </div>
                <div class="row genreTag">
                    <label class="span3">Genre tags</label>
                    <div class="span9">
                        <input type="text">
                        <p>e.g. historical-fiction, north-american, pseudo-nineteenth-century. Use comma to separate</p>
                    </div>
                </div>
                <div class="row links">
                    <label class="span3">Genre tags</label>
                    <select class="span3">
                        <option>Amazone.com</option>
                        <option>Bestbuy.com</option>
                        <option>ebay.com</option>
                    </select>
                    <div class="span6" style="float:right;">
                        <input type="text" placeholder="http://">
                        <button class="add"></button>
                    </div>
                </div>
                <p class="border"></p>
            </div>
            <button class="save">Save</button>
            <button class="next" authorid="<%- authorId %>">Done</button>
        </div>
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
